
html{
    font-family: 'Montserrat';
    font-size: 20px;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 22, 71);
    flex-direction: column;
    padding: 50px 0;
}
section h1{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 50px;
    
    margin-bottom: 10px;
}

section p{
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom:  40px;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.texts p{
    color: black;
    text-align: left;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 80px;
    margin-bottom: 10px;
}

.texts p.replay{
    text-align: right;
}

body {
    background-color: rgb(70, 22, 71);
  }
  .logo{
    display: flex;
    padding-top:40%;
    padding-left:auto;
    justify-content: center;
  }
  .wrapper {
      width:100%;
      height:500px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .textbox{
    width: 50%;
    height: auto;
    
  }
  .stop img {
    position: fixed;
    bottom: 4px;
    right: 10px;
    max-width:10%;
    height:auto;
  }

  .progress_bar{
      width: 50%;
      height: 5%;
      border: solid 1px rgb(240, 118, 18);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      box-shadow: 0px 0px 10px rgb(255, 153, 0);
      border-radius: 1px;
  }
  
  .progress__square{
      width: 5%;
      height: 90%;
      background-color: rgb(34, 202, 224);
      box-shadow: 0px 0px 10px rgba(255, 123, 0, 0.993);
       border-radius: 1px;
      opacity: 0.7;
  }
    
  
  
  .mystyle {
  
      animation: color 2s  alternate infinite ease;
       
}

      .pitch {
        position: fixed;
        right: 5%;
        top: 5%;
        background-color: rgb(70, 22, 71);
        color: #aff0f5;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 20;
        font-weight: 200;
        border-radius: 2px;
        border-style: solid;
        box-shadow: rgb(26, 25, 25) 0px 54px 55px, rgb(121, 98, 25) 0px -12px 30px, rgb(255, 196, 0) 0px 4px 6px, rgb(255, 196, 0) 0px 12px 13px, rgb(255, 196, 0) 0px -3px 5px;
      }
      input[type=range] {
        vertical-align: middle;
        margin: 20px;
        -webkit-appearance: none;
        background-color: #c2edf2;
        height: 3px;
        width: 100px;
        outline: none;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #00d2e9;
        width: 14px;
        height: 20px;
        border: 2px solid #73b8bf;
        border-radius: 2px;
      }
      input[type="range"]::-webkit-slider-thumb:hover {
        cursor: pointer;
      }
      .clock {
        color: hsl(325, 100%, 69%);
        font-size: 2rem;
        border-radius: 10px;
        padding: .25rem;
        box-shadow: 0 0 20px#FF61BE;
      }
      

      
