
body {
    margin: 0;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Cabin Sketch', cursive;
  }
  .fullpage-wrapper {
    width: 100%;
    height: 100vh;
    background: radial-gradient(#353c44, #222931);
    display: flex;
  }
  .reactor-container {
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px dashed #888;
    position: relative;
    border-radius: 50%;
    background-color: #384c50;
    border: 1px solid rgb(18, 20, 20);
    box-shadow: 0px 0px 32px 8px rgb(18, 20, 20), 0px 0px 4px 1px rgb(18, 20, 20) inset;
  }
  .reactor-container-inner {
    height: 238px;
    width: 238px;
    background-color: rgb(22, 26, 27);;
    box-shadow: 0px 0px 4px 1px #52FEFE;
  }
  
  .circle {
    border-radius: 50%;
  }
  .abs-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .core-inner {
    width: 70px;
    height: 70px;
    border: 5px solid #1B4E5F;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 7px 5px #52FEFE, 0px 0px 10px 10px #52FEFE inset;
  }
  .core-outer {
    width: 120px;
    height: 120px;
    border: 1px solid #52FEFE;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 1px #52FEFE, 0px 0px 10px 5px #52FEFE inset;
  }
  .core-wrapper {
    width: 180px;
    height: 180px;
    background-color: #073c4b;
    box-shadow: 0px 0px 5px 4px #52FEFE, 0px 0px 6px 2px #52FEFE inset;
  }
  .tunnel {
    width: 220px;
    height: 220px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 1px #52FEFE, 0px 0px 5px 4px #52FEFE inset;
  }
  .coil-container {
    position: relative;
    width: 100%;
    height: 100%;
    animation: 3s infinite linear none;
  }
  .coil {
    position: absolute;
    width: 30px;
    height: 20px;
    top: calc(50% - 110px);
    left: calc(50% - 15px);
    transform-origin: 15px 110px;
    background-color:#073c4b;
    box-shadow: 0px 0px 5px #52FEFE inset;
  }
  .coil-1 {
    transform: rotate(0deg);
  }
  .coil-2 {
    transform: rotate(45deg);
  }
  .coil-3 {
    transform: rotate(90deg);
  }
  .coil-4 {
    transform: rotate(135deg);
  }
  .coil-5 {
    transform: rotate(180deg);
  }
  .coil-6 {
    transform: rotate(225deg);
  }
  .coil-7 {
    transform: rotate(270deg);
  }
  .coil-8 {
    transform: rotate(315deg);
  }
  @keyframes reactor-anim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .text_box{
    border: 3px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
    float: center;
    width: 100%;
    height: auto;
  }
  .text_box p{
    color: #52FEFE;
    text-align: center;
    font-size: x-large;
  }
  .List_button{
    margin: 0%;
    position: fixed;
    top: 10%;
    right: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  button{
    display: inline-block;
    background-color: #384c50;
    border-radius: 10px;
    border: 4px double #000000;
    color: #3cf2ff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    font-size: 18px;
    font-family: 'Cabin Sketch', cursive;
    padding: 20px;
    width: 90px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all  ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 90%;
  }
  .popup{
    width: 70%;
  }
}